.campaigns {
  position: fixed;
  right: 20px;
  bottom: 50px;
  margin-bottom: 50px;

  font-size: 15px;
  color: @sk-darker-grey;

  .widget-size();

  height: auto !important;

  .transition-wrapper-appear {
    opacity: 0;
    position: relative;
    top: 10px;
  }

  .transition-wrapper-appear-active {
    opacity: 1;
    transition: opacity 0.5s 0.3s, top 0.5s 0.3s;
    position: relative;
    top: 0;
  }

  .transition-wrapper-enter,
  .transition-wrapper-leave.transition-wrapper-leave-active {
    opacity: 0;
    transition: opacity 0.2s, top 0.2s;
    position: relative;
    top: 10px;
  }

  .transition-wrapper-enter.transition-wrapper-enter-active,
  .transition-wrapper-leave {
    opacity: 1;
    transition: opacity 0.2s, top 0.2s;
    position: relative;
    top: 0;
  }

  .campaign {
    background: white;
    box-shadow: 0 10px 64px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    margin-top: 20px;

    .message-area {
      &:not(:first-child) {
        border-top: 1px solid @gorgias-light-grey;
      }

      display: flex;
      flex-direction: row;
      padding: 10px;

      .avatar {
        padding: 10px;

        img {
          min-width: 50px !important;
          width: 50px !important;
          height: 50px;
          border-radius: 100px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.09);
        }
      }

      .author-name {
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 5px;
      }

      .message {
        padding: 10px;

        img {
          max-width: 100%;
        }
      }
    }

    .reply-area {
      cursor: pointer;
      padding: 20px;
      border-top: 1px solid @gorgias-light-grey;
      color: @sk-medium-grey;
    }
  }

  @media (max-width: @screen-sm-min) {
    max-width: 65%;
    right: 10px;

    .campaign .message-area .avatar {
      display: none;
    }
  }
}
